*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-white: rgb(255, 255, 255);
  --color-white-80: rgba(255, 255, 255, 0.80);
  --color-primary: rgb(227, 193, 22);
  --color-secondary: rgb(29, 118, 195);
  --color-background: rgb(3, 14, 34);
}

html {
	scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 1px;
  line-height: 1.5;
  color: var(--color-white);
  background: var(--color-background);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a {
  color: var(--color-secondary);
}

img {
  max-width: 100%;
}

h1 {
  font-size: 2rem;

  span {
    display: block;
    font-size: 0.85rem;
    opacity: 0.5;
  }

  svg {
    max-width: 320px;
    display: block;
    margin-bottom: var(--spacer-md);

    @media screen and (min-width: 769px) {
      max-width: 640px;
    }
  }
}

h2 {
  @media screen and (min-width: 769px) {
    font-size: clamp(2rem, 8vw, 3rem);
    margin: 0;
  }
}

main {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  height: 100vh;
  position: relative;
  z-index: 1;
  overflow-y: auto;
  overflow-x: hidden;

  & > * {
    display: flex;
    padding: 1rem;
    width: 100%;
    height: calc(100vh - 230px);
    scroll-snap-align: start;
    text-align: center;
    position: relative;
  }

  & > * > * {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: 1024px) {
      padding: 2rem;
    }
  }

  @media (min-width: 1024px) {

  }
}

footer {
  display: block;
  position: fixed;
  width: 100%;
  height: auto;
  bottom: 0;
  padding: 0;
  margin: 0;

  & > * {
    padding: 0;
  }

  & > section {
    background: var(--color-white);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  p {
    color: var(--color-background);
  }

  nav {
    display: flex;
    gap: 1rem;
  }
}
