@use './base';

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: 1.3;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
  margin-top: 2rem;
}

h3 {
  font-size: 2rem;
}

hr {
  opacity: 0.25;
  margin-bottom: 2rem;
}

pre code {
  display: inline-block;
  padding: 1.25rem 1.5rem;
}

article {
  text-align: left;
  line-height: 2;
  padding: 3rem 2rem;
  margin-bottom: 255px;
}
