---
const currentYear = new Date().getFullYear()
---

<footer>
  <deific-waves></deific-waves>
  <section>
    <nav>
      <a href="/about">About</a>
      <a href="/services">Services</a>
      <a href="/work">The Work</a>
      <a href="/consultation">Consultation</a>
    </nav>
    <p>&copy; {currentYear} Deific Arts, LLC., <br />15900 W 10 Mile Southfield MI 48075 Suite 211</p>
  </section>
</footer>
<style>
  footer {
    text-align: center;
  }
</style>
