name: deploy
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4

      # - name: Setup PHP
      #   uses: shivammathur/setup-php@v2
      #   with:
      #     php-version: 'latest'
      #     extensions: mbstring, intl, pdo, curl
      #     coverage: none

      - name: Build Site
        working-directory: ./
        run: |
          npm install
          npm run build

      # - name: Install Composer dependencies
      #   working-directory: ./dist
      #   run: composer install --no-interaction --prefer-dist --optimize-autoloader

      # - name: Write .env file
      #   working-directory: ./dist
      #   run: |
      #     echo "
      #       MAIL_HOST=${{ secrets.MAIL_HOST }}
      #       MAIL_USER=${{ secrets.MAIL_USER }}
      #       MAIL_PASS=${{ secrets.MAIL_PASS }}
      #     " > .env

      - name: Deploy
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.FTP_DEPLOY_HOST }}
          username: ${{ secrets.FTP_DEPLOY_USERNAME }}
          password: ${{ secrets.FTP_DEPLOY_PASSWORD }}
          port: ${{ secrets.FTP_DEPLOY_PORT }}
          local-dir: './dist/'
          server-dir: '/domains/deificarts.com/public_html'
